<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h3>Import Lands</h3>
<%= form_tag import_lands_path, multipart: true do %>
  <span class="btn btn-large btn-warning btn-file">
    Choose File
    <%= file_field_tag :file %>
  </span>
  <%= submit_tag "Upload Companies", class: "btn btn-primary" %>
<% end %>
